Repository pree/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: chart: ha-apps, chart: home-assistant, chart: media-apps, chart: nfs-mount, chart: pm-apps, chart: prowlarr, chart: radarr, chart: sonarr, chart: mautrix-whatsapp

.github/labeler.yml:

'chart: ha-apps': charts/ha-apps/*
'chart: home-assistant': charts/home-assistant/*
'chart: media-apps': charts/media-apps/*
'chart: nfs-mount': charts/nfs-mount/*
'chart: pm-apps': charts/pm-apps/*
'chart: prowlarr': charts/prowlarr/*
'chart: radarr': charts/radarr/*
'chart: sonarr': charts/sonarr/*
'chart: mautrix-whatsapp': charts/mautrix-whatsapp/*

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2023.8.4
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
Labels: chart: home-assistant

chore(deps): update helm release prowlarr to v1.17.0
  charts/media-apps/Chart.yaml
  charts/media-apps/README.md
  charts/media-apps/values.yaml
Labels: chart: media-apps

Update index.yaml
  index.yaml
Labels: none

chore(deps): update helm release home-assistant to v1.25.0
  charts/ha-apps/Chart.yaml
  charts/ha-apps/README.md
  charts/ha-apps/values.yaml
Labels: chart: ha-apps

chore(deps): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.8.5.3896
  charts/prowlarr/Chart.yaml
  charts/prowlarr/README.md
Labels: chart: prowlarr

GitHub release notes
  .github/workflows/release.yaml
  cr.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

chore(deps): update helm release prowlarr to v1.18.0
  charts/media-apps/Chart.yaml
  charts/media-apps/README.md
  charts/media-apps/values.yaml
Labels: chart: media-apps

Update index.yaml
  index.yaml
Labels: none

chore(deps): update actions/checkout action to v4
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Labels: none

chore(deps): update helm release postgresql to v12.10.1
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
Labels: chart: home-assistant

Update index.yaml
  index.yaml
Labels: none

chore(deps): update helm release home-assistant to v1.25.1
  charts/ha-apps/Chart.yaml
  charts/ha-apps/README.md
  charts/ha-apps/values.yaml
Labels: chart: ha-apps

Update index.yaml
  index.yaml
Labels: none

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2023.9.1
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
Labels: chart: home-assistant

Update index.yaml
  index.yaml
Labels: none

chore(deps): update helm release home-assistant to v1.26.0
  charts/ha-apps/Chart.yaml
  charts/ha-apps/README.md
  charts/ha-apps/values.yaml
Labels: chart: ha-apps

Update index.yaml
  index.yaml
Labels: none

chore(deps): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.8.6.3946
  charts/prowlarr/Chart.yaml
  charts/prowlarr/README.md
Labels: chart: prowlarr

Update index.yaml
  index.yaml
Labels: none

chore(deps): update helm release prowlarr to v1.19.0
  charts/media-apps/Chart.yaml
  charts/media-apps/README.md
  charts/media-apps/values.yaml
Labels: chart: media-apps

Update index.yaml
  index.yaml
Labels: none

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2023.9.2
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
Labels: chart: home-assistant

Update index.yaml
  index.yaml
Labels: none

chore(deps): update database dependencies
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
Labels: chart: home-assistant

Update index.yaml
  index.yaml
Labels: none

feat(readarr): init
  charts/readarr/Chart.yaml
  charts/readarr/README.md
  charts/readarr/ci/ct-exportarr-values.yaml
  charts/readarr/templates/common.yaml
  charts/readarr/templates/prometheusrules.yaml
  charts/readarr/templates/servicemonitor.yaml
  charts/readarr/values.yaml
Labels: none

chore(deps): update helm release home-assistant to v1.27.1
  charts/ha-apps/Chart.yaml
  charts/ha-apps/README.md
  charts/ha-apps/values.yaml
Labels: chart: ha-apps

Update index.yaml
  index.yaml
Labels: none

fix(readarr): fix image repository
  charts/readarr/values.yaml
Labels: none

fix(readarr): helm-docs
  charts/readarr/README.md
Labels: none

fix(readarr): current apiVersion is v1
  charts/readarr/values.yaml
Labels: none

chore(deps): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.9.0.3966
  charts/prowlarr/Chart.yaml
  charts/prowlarr/README.md
Labels: chart: prowlarr

fix(readarr): use metrics values instead of additionalContainers
  charts/readarr/ci/ct-exportarr-values.yaml
Labels: none

feat(github-actions): install prom crds
  .github/workflows/test.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none
